@import "variables";

.sidebar-container {
  width: @sideBarWidth;
  height: calc(100vh - @NavHeight);
  border: 1px solid red;
  box-sizing: border-box;

  .sidebar-icon {
    margin-right: 12px;
  }
}
